
/* Start Sprite Master CSS */
.neu-lash,.ojo_bn,.ojo{display: inline-block;background-repeat: no-repeat;background-image: url('../img/dermocosmeticos/neu-lash-promotion.png');}.neu-lash{background-position:0px 0px;width:313px;height:378px;}.ojo_bn{background-position:0px -378px;width:222px;height:222px;}.ojo{background-position:0px -600px;width:222px;height:222px;}
/* End Sprite Master CSS */
