
/* Start Sprite Master CSS */
.flecha_izq,.flecha_der{display: inline-block;background-repeat: no-repeat;background-image: url('../img/microinjerto/flechas.png');}
.flecha_izq_diagnosis{background-position:0px 0px;width:41px;height:83px;}
.flecha_der_diagnosis{background-position:0px -83px;width:42px;height:85px;}
/* End Sprite Master CSS */
