#home{
    @extend .clearfix;
    min-width: 960px;
    section{
        @extend .clearfix;
        @extend .wrapper;
        display: table;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        margin: 0 auto;
        padding: 0;
        position: static;
        width: 960px;
        z-index: 1;
        >div{
            bottom: 59px;
            display: none;
            height: 84% !important;
            margin: 0 auto !important;
            max-height: 750px !important;
            min-height: 488px !important;
            padding: 0 !important;
            position: absolute;
            width: 960px !important;
            &:first-child{ display:block; }
        }
        #schedule_your_appointment_today_banner{

            h1{
                @include font-mask( #000, em( 41.91, 16 ), em( 29, 41.91 ), normal, $Fira_Sans_Ot_Light );
                left: -50px;
                letter-spacing: em( 0.1, 41.91 );
                margin: 0;
                padding: 0;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: em( 600, 41.91 );
                strong{
                    @include font-mask( #000, em( 55.36, 41.91 ), em( 43, 55.36 ), normal, $Nobile_Bold );
                    display: block;
                    letter-spacing: em( 0.1, 55.36 );
                    margin: em( 17, 55.36 ) 0 0;
                }
            }
            hr{
                border-top: 3px solid $yellow;
                float: left;
                left: -50px;
                height: 0;
                position: relative;
                width: em( 600, 16 );
            }
            h2{
                @include font-mask( #000, em( 28.81, 16 ), em( 27, 28.81 ), normal, $Fira_Sans_Ot_Light );
                clear: both;
                display: block;
                letter-spacing: em( 0.1, 28.81 );
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                width: em( 600, 28.81 );
            }
            p{
                border: 3px solid $yellow;
                height: em( 42, 16 );
                margin: em( 21, 16 ) 0 0 em( 235, 16 );
                padding: 0;
                text-transform: uppercase;
                width: em( 283, 16 );
                a{
                    @include font-mask( #333, em( 26.32, 16 ), em( 50, 26.32 ), normal, $Fira_Sans_Ot_Light );
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                }
                &:hover{
                    background: $yellow;
                }
            }
        }
        #schedule_your_appointment_today_dancing_banner{

            h1{
                @include font-mask( #FFF, em( 30, 16 ), em( 12, 30 ), normal, $Fira_Sans_Ot_Light );
                letter-spacing: em( 0.1, 41.91 );
                margin: 0;
                padding: 0;
                position: absolute;
                right: 32%;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 0 0 9px #000;
                top: 11%;
                width: em( 600, 41.91 );
                strong{
                    @include font-mask( #FFF, em( 32, 30 ), em( 25, 32 ), bold, $Fira_Sans_Ot_Light );
                    display: block;
                    letter-spacing: em( 0.1, 55.36 );
                    margin: em( 17, 55.36 ) 0 0;
                }
            }
            a{
                @include font-mask( #000, em( 15, 16 ), em( 15, 15 ), normal, $Fira_Sans_Ot_Light );
                border: 3px solid $yellow;
                box-sizing: border-box;
                cursor: pointer;
                display: block;
                height: 82px;
                left: 0%;
                margin: -25px auto 0;
                padding: 10px 10px 15px;
                position: absolute;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                top: 39%;
                width: 82px;
                strong{
                    clear: both;
                    display: block;
                    font-size: em( 28, 15 );
                    line-height: em( 28, 28 );
                }
                &:hover{ background: $yellow; }
            }
            h2{
                @include font-mask( #000, em( 20, 16 ), em( 23, 20 ), normal, $Fira_Sans_Ot_Light );
                border-bottom: 1px solid $yellow;
                clear: both;
                display: block;
                left: 10%;
                letter-spacing: em( 0.1, 20 );
                margin: -24.5px 0 0;
                padding: 0 0 3px;
                position: absolute;
                right: 0;
                text-align: left;
                text-transform: uppercase;
                top: 42%;
                width: em( 260, 20 );
            }
            img{
                margin: -193px auto 0;
                position: absolute;
                right: -5%;
                top: 50%;
            }
            h3{
                @include font-mask( #FFF, em( 15, 16 ), em( 18, 15 ), normal, $Nobile_Bold );
                bottom: 7%;
                display: block;
                letter-spacing: 2px;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 11%;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 0 0 9px #000;
            }
            h4{
                @include font-mask( #000, em( 12, 16 ), em( 13, 12 ), normal, $Fira_Sans_Ot_Light );
                bottom: 1%;
                display: block;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 0;
                text-align: center;
                text-transform: uppercase;
                strong{}
            }
        }
        #agora_no_brasil{

            .brasil_title{
                display: block;
                margin: -53.5px auto 0;
                position: relative;
                top: 38%;
            }
            .paragraph_background{
                background: url("../img/banners/escritorio/bg_parrafo.png") repeat scroll 0 0 transparent;
                display: block;
                height: 80px;
                margin: -30px auto 0;
                position: relative;
                top: 45%;
                width: 100%;
                img{
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 20px;
                }
            }
            .branch_information{
                display: block;
                margin: -81.5px auto 0;
                position: relative;
                top: 64%;
            }
        }
        #testimonial_banner{

            h2{
                @include font-mask( #000, em( 60, 16 ), em( 27, 60 ), normal, $Fira_Sans_Ot_Light );
                left: -50px;
                letter-spacing: em( 0.1, 60 );
                margin: -22px auto 0;
                padding: 0;
                position: relative;
                text-align: left;
                text-indent: em( 32, 60 );
                text-transform: uppercase;
                top: 50%;
                width: 100%;
                strong{
                    @include font-mask( #000, em( 55, 60 ), em( 43, 55 ), normal, $Nobile_Bold );
                    display: block;
                    letter-spacing: em( 0.1, 60 );
                    margin: em( 17, 60 ) 0 0;
                }
            }
            hr{
                border-top: 3px solid $yellow;
                float: left;
                left: -50px;
                height: 0;
                margin: em( 15, 16 ) 0 em( 15, 16 ) em( 30, 16 );
                position: relative;
                top: 50%;
                width: em( 480, 16 );
            }
            p{
                @include font-mask( $text_gray, em( 22.5, 16 ), em( 22.5, 22.5 ), bold, $Fira_Sans_Ot_Light );
                clear: both;
                left: -50px;
                letter-spacing: em( 6, 22.5 );
                margin: 0;
                padding: 0;
                position: relative;
                text-align: left;
                text-indent: em( 30, 22.5 );
                text-transform: uppercase;
                top: 50%;
                z-index: 1;
                .link{
                    top: -5px;
                    left: em( 478, 22.5 );
                }
            }
            img{
                bottom: 0;
                position: absolute;
                right: -20%;
                z-index: 0;
            }
        }
        #promotion_of_the_month_banner{

            figure.friends{
                @extend .clearfix;
                bottom: 0;
                display: block;
                height: 682px;
                position: absolute;
                //left: 890px;
                right: -20%;
                width: 528px;
                z-index: 0;
                img{
                    bottom: 0;
                    height: auto !important;
                    position: absolute;
                    right: 0;
                    width: auto !important;
                }
                .desktop{ display: block; }
                .mobile{ display: none; }
            }
        }
        .wrapper_information{
            @extend .clearfix;
            float: none !important;
            position: relative;
            top: 12%;
            width: 700px;
            z-index: 1;
            h2,h3{
                margin: 0;
                text-align: center;
                text-transform: uppercase;
            }
            h2{
                @include font-mask( $text_gray, em( 63, 16 ), em( 28, 63 ), normal, $Fira_Sans_Ot_Light );
                letter-spacing: em( 10, 63 );
                padding: 20px 0 0;
                strong{
                    font-family: $Nobile_Bold;
                    font-size: em( 53, 63 );
                }
            }
            hr{
                border-top: 3px solid #ECD102;
                display: block;
                height: 0;
                margin: 11px 0 9px;
                padding: 0;
            }
            h3{
                @include font-mask( $text_gray, em( 18, 16 ), em( 18, 18 ), normal, $Fira_Sans_Ot_Light );
                letter-spacing: em( 23, 18 );
                padding: 0 0 10px;
            }
        }
        .discounts{
            float: left;
            height: 171px;
            position: relative;
            width: 432px;
            > div{
                background-image: none !important;
                box-sizing: border-box;
                float: left;
                height: 141px;
                padding: 0 !important;
                position: absolute;
                width: 33.335% !important;
                p{
                    padding: 0 !important;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    top: 50%;
                    width: 100%;
                }
                .triangle{ @extend .small_triangle; }
            }
            .twenty{

                p{
                    @include font-mask( $text_gray, em( 16, 16 ) !important, em( 16, 16 ) !important, normal, $Nobile_Bold !important );
                    margin: -28px auto 0 !important;
                    strong{

                        span{
                            font-size: em( 27, 16 );
                            line-height: em( 27, 27 );
                        }
                    }
                }
                .triangle{}
            }
            .thirty{
                left: 144px;
                z-index: 5;
                p{
                    @include font-mask( $white, em( 50, 16 ) !important, em( 50, 50 ) !important, normal, $Nobile_Bold !important );
                    margin: -25px auto 0 !important;
                    strong{}
                }
                .triangle{ border-left-color: #494949; }
            }
            .fourthy{
                left: 288px;
                padding: 0 23px 0 0;
                z-index: 0;
                p{
                    @include font-mask( $white !important, em( 14, 16 ) !important, em( 21, 14 ) !important, normal, $Nobile_Bold !important );
                    margin: -42px auto 0 !important;
                    strong{

                        .yellow{ color: $yellow; }
                    }
                }
            }
            .aclaration{
                bottom: 0;
                height: 30px;
                left: 0;
                width: 100% !important;
                p{
                    @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Fira_Sans_Ot_Light );
                    display: block;
                    font-weight: normal;
                    margin: 0 auto;
                    letter-spacing: em( 12, 12 );
                    text-align: center;
                    position: static;
                    strong{}
                }
            }
            p.disclaimer{
                @include font-mask( $text_gray, em( 11, 16 ), em( 17, 11 ), normal );
                bottom: -123px;
                margin: 0;
                padding: 19px 0;
                position: absolute;
                width: 270px;
            }
            .logos{
                bottom: -60px;
                left: 300px;
                position: absolute;
            }
        }
        #promotion_of_the_month_banner{

            .wrapper_information{

                .discounts{

                    .twenty{ background-color: $yellow; }
                    .thirty{ background-color: #494949; }
                    .fourthy{ background-color: #000; }
                    .aclaration{ background-color: #000; }
                }
            }
        }
        #august_2014_promotion_of_the_month{

            .friends{
                bottom: -350px;
                left: -32px;
                position: absolute;
                width: 355px;
                img{}
            }
            .wrapper_information{
                float: right !important;
                margin: -250px 0 0;
                right: 0;
                top: 50%;
                width: 601px;
                img{
                    clear: both;
                    display:block;
                    margin: 15px auto;
                }
            }
        }
        #july_2014_promotion_of_the_month{

            figure.friends{
                @extend .clearfix;
                bottom: 0;
                display: block;
                height: 573px;
                position: absolute;
                //left: 890px;
                left: -15%;
                width: 803px;
                z-index: 0;
                img{
                    bottom: 0;
                    height: auto !important;
                    position: absolute;
                    right: 0;
                    width: auto !important;
                }
                .desktop{ display: block; }
                .mobile{ display: none; }
            }
            .wrapper_information{
                float: right !important;
                top: 17%;
                width: 435px;
                h2{
                    @include font-mask( #C3B41F, em( 42, 16 ), em( 42, 42 ), normal );
                    letter-spacing: 1px;
                    strong{
                        font-size: em( 42, 42 );
                        font-weight: bold;
                    }
                }
                h3{ font-size: em( 25, 16 ); letter-spacing: 7px; }
                p{
                    @include font-mask( $text_gray, em( 13, 16 ), em( 13, 13 ), normal, $Fira_Sans_Ot_Light );
                    margin: 5px 0 15px;
                    strong{ font-family: $Nobile_Bold; font-size: em( 11, 13 );}
                }
                .discounts{

                    .twenty{
                        background-color: #494949 !important;
                        z-index: 10;
                        .big{
                            font-size: em( 50, 16 ) !important;
                            margin: 0 auto !important;
                            top: 25px;
                            strong{
                                display: block;
                                font-size: em( 55, 55 );
                                line-height: 1em;
                            }
                        }
                        p{
                            @include font-mask( $white, em( 12, 16 ) !important, em( 12, 12 ), normal );
                            margin: 5px auto !important;
                            top: 25%;
                            strong{
                                font-size: 1em;
                                .yellow{ color: $yellow; font-size: 1em; }
                            }
                        }
                        .triangle{ border-color: transparent transparent transparent #494949 !important; }
                    }
                    .thirty{
                        background-color: $text_gray !important;
                        .big{
                            color: $white;
                            font-size: 55px !important;
                            line-height: 1em !important;
                            margin: 10px auto !important;
                            top: 12%;
                            strong{ font-size: 1em; line-height: 1em; }
                        }
                        p{
                            color: $yellow;
                            font-size: em( 18, 16 ) !important;
                            top: 33%;
                            strong{

                                .yellow{}
                            }
                        }
                        .triangle{ display: none; border-left-color: $text_gray; }
                    }
                    .fourthy{
                        background-color: $text_gray !important;
                        p{
                            font-size: em( 13, 16 ) !important;
                            line-height: 1em;
                            strong{

                                .yellow{}
                            }
                            &:nth-child( 1n + 0 ){
                                font-size: em( 13, 16 );
                                margin: 0 auto !important;
                                top: 27% !important;
                            }
                            &:nth-child( 2n + 0 ){ font-size: em( 23, 16 ) !important; }
                            &:nth-child( 3n + 0 ){ font-size: em( 18, 16 ) !important; }
                        }
                    }
                    .aclaration{
                        background-color: $yellow;
                        p{ line-height: em( 30, 16 ); }
                    }
                    .disclaimer{
                        bottom: -40px;
                        font-family: $Fira_Sans_Ot_Light;
                        padding: 0;
                        right: 0;
                        text-align: right;
                        strong{}
                    }
                }
            }
        }
        #promotion_fathers_day_banner{

            figure.friends{
                @extend .clearfix;
                bottom: 0;
                display: block;
                height: 682px;
                position: absolute;
                //left: 890px;
                right: -20%;
                width: 528px;
                z-index: 0;
                img{
                    bottom: 0;
                    height: auto !important;
                    position: absolute;
                    right: 0;
                    width: auto !important;
                }
                .desktop{ display: block; }
                .mobile{ display: none; }
            }
            .fathers_day_promo{
                @extend .clearfix;
                float: none !important;
                position: relative;
                top: 12%;
                width: 700px;
                z-index: 1;
                p{
                    @include font-mask( $text_gray, em( 16, 16 ), em( 19, 16 ), normal, $Fira_Sans_Ot_Light );
                }
                .discounts{
                    float: left;
                    height: 171px;
                    position: relative;
                    width: 432px;
                    > div{
                        background-image: none !important;
                        box-sizing: border-box;
                        float: left;
                        height: 141px;
                        padding: 0 !important;
                        position: absolute;
                        width: 33.335% !important;
                        p{
                            padding: 0 !important;
                            position: relative;
                            text-align: center;
                            text-transform: uppercase;
                            top: 50%;
                            width: 100%;
                        }
                        .triangle{ @extend .small_triangle; }
                    }
                    .twenty{
                        background-color: $yellow !important;
                        p{
                            @include font-mask( $text_gray, em( 16, 16 ) !important, em( 20, 16 ) !important, normal, $Fira_Sans_Ot_Light !important );
                            margin: -40px auto 0 !important;
                            .percentage{
                                color: $white;
                                font-family: $Nobile_Bold;
                                font-size: 55px;
                                line-height: 40px;
                            }
                            strong{
                                font-family: $Nobile_Bold;
                                font-size: em( 14, 16 );
                            }
                        }
                        .nexus{
                            @include font-mask( $white, em( 15, 16 ), em( 15, 15 ), normal, $Nobile_Bold !important );
                            display: inline-block;
                            margin: -11px auto 0 !important;
                            position: absolute;
                            right: -10px;
                            top: 50%;
                            width: auto;
                            z-index: 7;
                        }
                        .triangle{ z-index: 6; }
                    }
                    .thirty{
                        background-color: #494949 !important;
                        left: 144px;
                        z-index: 5;
                        p{
                            @include font-mask( $yellow, em( 17, 16 ) !important, em( 19, 17 ) !important, normal, $Fira_Sans_Ot_Light !important );
                            margin: -40px auto 0 !important;
                            .percentage{
                                color: $white;
                                font-family: $Nobile_Bold;
                                font-size: 55px;
                                line-height: 40px;
                            }
                            strong{
                                font-family: $Nobile_Bold;
                                font-size: em( 12, 16 );
                            }
                        }
                        .triangle{ border-left-color: #494949; }
                    }
                    .fourthy{
                        background-color: $text_gray !important;
                        left: 288px;
                        padding: 0 23px 0 0;
                        z-index: 0;
                        p{
                            @include font-mask( $white, em( 28, 16 ), em( 22, 28 ), normal, $Fira_Sans_Ot_Light );
                            margin: 16px 0 5px;
                            top: 0;
                            strong{ font-family: $Nobile_Bold; font-size: em( 24, 25 ); }
                        }
                        hr{
                            border: 1px solid $yellow;
                            display: block;
                            height: 0;
                            margin: 0 auto;
                            width: 70%;
                        }
                        .phone{
                            @include font-mask( $yellow, em( 33, 16 ), em( 29, 33 ), normal, $Fira_Sans_Ot_Light );
                            margin: 0;
                            strong{ font-family: $Nobile_Bold; font-size: em( 34, 33 ); }
                        }
                    }
                    .aclaration{
                        background-color: #2B2B2B;
                        bottom: 0;
                        height: 30px;
                        left: 0;
                        width: 100% !important;
                        p{
                            @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Fira_Sans_Ot_Light );
                            display: block;
                            font-weight: normal;
                            margin: 0 auto;
                            letter-spacing: em( 12, 12 );
                            text-align: center;
                            position: static;
                            strong{}
                        }
                    }
                    p.disclaimer{
                        @include font-mask( $text_gray, em( 11, 16 ), em( 17, 11 ), normal );
                        bottom: -60px;
                        margin: 0;
                        padding: 19px 0;
                        position: absolute;
                        width: 270px;
                        strong{ font-family: $Nobile_Bold; font-weight: normal; }
                    }
                }
            }
            #july_2014_promotion_of_the_month{

                #julio_promo{

                    .wrapper_information{
                        @extend .clearfix;
                        float: none !important;
                        position: relative;
                        top: 12%;
                        width: 700px;
                        z-index: 1;
                        h2,h3{
                            margin: 0;
                            text-align: center;
                            text-transform: uppercase;
                        }
                        h2{
                            @include font-mask( $text_gray, em( 63, 16 ), em( 28, 63 ), normal, $Fira_Sans_Ot_Light );
                            letter-spacing: em( 10, 63 );
                            padding: 20px 0 0;
                            strong{
                                font-family: $Nobile_Bold;
                                font-size: em( 53, 63 );
                            }
                        }
                        hr{
                            border-top: 3px solid #ECD102;
                            display: block;
                            height: 0;
                            margin: 11px 0 9px;
                            padding: 0;
                        }
                        h3{
                            @include font-mask( $text_gray, em( 18, 16 ), em( 18, 18 ), normal, $Fira_Sans_Ot_Light );
                            letter-spacing: em( 23, 18 );
                            padding: 0 0 10px;
                        }
                    }
                    .discounts{
                        float: left;
                        height: 171px;
                        position: relative;
                        width: 432px;
                        > div{
                            background-image: none !important;
                            box-sizing: border-box;
                            float: left;
                            height: 141px;
                            padding: 0 !important;
                            position: absolute;
                            width: 33.335% !important;
                            p{
                                padding: 0 !important;
                                position: relative;
                                text-align: center;
                                text-transform: uppercase;
                                top: 50%;
                                width: 100%;
                            }
                            .triangle{ @extend .small_triangle; }
                        }
                        .twenty{

                            p{
                                @include font-mask( $text_gray, em( 16, 16 ) !important, em( 16, 16 ) !important, normal, $Nobile_Bold !important );
                                margin: -28px auto 0 !important;
                                strong{

                                    span{
                                        font-size: em( 27, 16 );
                                        line-height: em( 27, 27 );
                                    }
                                }
                            }
                            .triangle{}
                        }
                        .thirty{
                            left: 144px;
                            z-index: 5;
                            p{
                                @include font-mask( $white, em( 50, 16 ) !important, em( 50, 50 ) !important, normal, $Nobile_Bold !important );
                                margin: -25px auto 0 !important;
                                strong{}
                            }
                            .triangle{ border-left-color: #494949; }
                        }
                        .fourthy{
                            left: 288px;
                            padding: 0 23px 0 0;
                            z-index: 0;
                            p{
                                @include font-mask( $white !important, em( 14, 16 ) !important, em( 21, 14 ) !important, normal, $Nobile_Bold !important );
                                margin: -42px auto 0 !important;
                                strong{

                                    .yellow{ color: $yellow; }
                                }
                            }
                        }
                        .aclaration{
                            bottom: 0;
                            height: 30px;
                            left: 0;
                            width: 100% !important;
                            p{
                                @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Fira_Sans_Ot_Light );
                                display: block;
                                font-weight: normal;
                                margin: 0 auto;
                                letter-spacing: em( 12, 12 );
                                text-align: center;
                                position: static;
                                strong{}
                            }
                        }
                        p.disclaimer{
                            @include font-mask( $text_gray, em( 11, 16 ), em( 17, 11 ), normal );
                            bottom: -123px;
                            margin: 0;
                            padding: 19px 0;
                            position: absolute;
                            width: 270px;
                        }
                        .logos{
                            bottom: -60px;
                            left: 300px;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
    #livechat-compact-container{ z-index: 0 !important; }
    .alert_background{
        background: none 0 0 no-repeat scroll #FFF;
        display: none;
        height: 100%;
        opacity: 0.5;
        width: 100%;
    }
    .alert_box{
        background: none no-repeat scroll 0 0 transparent;
        border-radius: 0;
        box-shadow: 0;
        display:none;
        height: 100%;
        margin: 0 auto 0 !important;
        padding: 0;
        position: absolute;
        top: 0% !important;
        width: 100%;
        .close{
            @extend .cierra;
            color: transparent;
            position: absolute;
            right: 60px;
            top: 80px;
            &:hover{ @extend .cierra_over; }
        }
        .video_testimonials_home_scrollable{
            display: block;
            height: 340px;
            left: auto;
            margin: -170px auto 0;
            overflow: hidden;
            position: relative;
            top: 40%;
            width: 603px;
            .video_items{
                display: block;
                height: 100%;
                position: relative;
                width: 2000em;
                div { display: block; float: left; position: relative; width: 603px; }
            }
        }
        .title_testimonials_home_scrollable{
            background: none no-repeat scroll 0 0 rgba( 0, 0, 0, 0.8 );
            display: block;
            height: 130px;
            left: auto;
            margin: -75px auto 0;
            position: relative;
            top: 55%;
            width: 100%;
            .browser{
                margin: -20px auto 0;
                position: absolute;
                top: 50%;
            }
            .disabled{ display: none; &:hover{ display: none; } }
            .prev{
                @extend .flecha_izq_testimoniales;
                left: 15%;
                &:hover{ @extend .flecha_izq_testimoniales_over; }
            }
            .next{
                @extend .flecha_der_testimoniales;
                right: 15%;
                &:hover{ @extend .flecha_der_testimoniales_Over; }
            }
            .title_testimoniales_home_wrapper{
                display: block;
                height: 100%;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                width: 600px;
                .title_items{
                    display: block;
                    margin: 0 auto;
                    overflow: hidden;
                    position: relative;
                    width: 2000em;
                    div{
                        display: block;
                        float: left;
                        height: 100%;
                        position: relative;
                        width: 600px;
                        h2, h3{
                            display: block;
                            margin: 0 auto;
                            padding: 0;
                            text-align: center;
                            text-transform: uppercase;
                            width: 100%;
                        }
                        h2{
                            @include font-mask( $white, em( 30, 16 ), em( 60, 30 ), normal,  $Nobile_Bold );
                        }
                        h3{
                            @include font-mask( $yellow, em( 50, 16 ), em( 60, 50 ), normal,  $Fira_Sans_Ot_Light );
                        }
                    }
                }
            }
        }
    }
}
#converted_date{

    #converted_date{
        height: 458px;
        article{
            display: block;
            height: 100%;
            div{
                display: block;
                height: 100%;
                position: relative;
                p{
                    @include font-mask( $text_gray, em( 16, 16 ), em( 16, 16 ), normal, $Fira_Sans_Ot_Light );
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 40%;
                    width: 70%;
                }
            }
        }
    }
}
