
#footer{
    height: em( 44, 16 ) !important;
    footer{
        background: #373737;
        height: 100% !important;
        left: 0;
        margin: 0 !important;
        top: 0;
        width: 100% !important;
        ul{
            clear: both;
            display: block;
            float: left;
            height: 100% !important;
            top: 0;
            width: 100%;
            li{
                box-sizing: border-box;
                height: 100%;
                margin: 0;
                width: 33.33%;
                a{
                    @include font-mask( $white, em( 12, 16 ), em( 44, 12 ), normal, $Fira_Sans_Ot_Light );
                    border-top: 0 none transparent;
                    float: left;
                    height: 100% !important;
                    text-indent: 0;
                    width: 100%;
                    strong{}
                    &:hover,
                    &.current{ height: em( 40, 12 ); }
                    &.current{ border-bottom: 3px solid $yellow; }
                }
                &:last-child{
                    margin: 0;
                    a{ font-size: em( 11, 16 ); line-height: em( 44, 11 );  }
                }
                &.current{ height: 100% !important; }
            }
            .chat{
                display: none !important;
                visibility: hidden;
                a{

                    &:hover{}
                }
                &:hover{}
            }
        }
    }
    #privacy_policy{
        display: none !important;
        visibility: hidden;
        a{

            &:hover{ }
        }
    }
}
#home{
    display: block;
    height: 100% !important;
    min-height: 568px;
    min-width: inherit;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    width: 100% !important;
    #wrapper_background{
        display: block;
        position: absolute !important;
        figure{

            img{
                display: none;
                &:first-child{ display: block; }
            }
        }
    }
    section{
        box-sizing: border-box;
        display: block;
        height:  83%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 53px !important;
        width: 100% !important;
        z-index: 5 !important;
        @media only screen and ( min-width: em( 768, 16 ) ) and ( orientation: portrait ){
            height:  90.5%;
        }
        @media only screen and ( min-width: em( 1024, 16 ) ) and ( orientation: landscape ){
            height:  90.5%;
        }
        >div{
            bottom: auto;
            display: none;
            //height: 100%;
            //max-height: 568px !important;
            //min-height: 470px !important;
            height: 100% !important;
            margin: 0 auto !important;
            max-height: inherit !important;
            min-height: inherit !important;
            max-width: inherit !important;
            min-width: inherit !important;
            position: absolute;
            top: 0 !important;
            width: 100% !important;
            a{
                display: block;
                height: 100%;
                margin: 0 auto;
                position: relative;
                width: 100%;
                img{
                    display: block;
                    left: 50%;
                    position: absolute;
                    right: auto;
                    top: 50%;
                }
            }
        }
        .mobile:nth-child( 3n + 1 ){ display: block; }
        /*#schedule_your_appointment_today_banner_mobile{

            a{

                img{ margin: -135px auto 0; }
            }
        }
        #schedule_your_appointment_today_dancing_banner_mobile{

            a{

                .make_appointment{ margin: ( -276px / 2 ) 0 0 ( -321px / 2 ); }
                .agora_no_brasil{ margin: -224.5px auto 0; }
            }
        }*/
        #testimonial_banner_mobile{
            .tablet{ display: none; }
            a{
                text-decoration: none;
                img{ margin: -206px 0 0 -160px; }
            }
            .text{
                @include font-mask( #000, 7.8125vw, 1em, normal, $Fira_Sans_Ot_Light );
                letter-spacing: 0.01302083333vw;
                margin: 0 auto;
                padding: 0;
                text-align: left;
                text-transform: uppercase;
                z-index: 1;
                &:before, &:after{ content:" "; cursor: pointer; position: absolute; }
                &:before{
                    background-color: $yellow;
                    bottom: -8.203125vw;
                    display: block;
                    height: 8.3333333333vw;
                    left: 50%;
                    margin: 0 0 0 ( -8.3333333333vw / 2 );
                    width: 8.3333333333vw;
                    z-index: 0;
                }
                &:after{
                    border-color: transparent transparent transparent black;
                    border-style: solid;
                    border-width: ( 4.1666666667vw / 2 );
                    bottom: -78%;
                    height: 0.1302083333vw;
                    left: 52%;
                    margin: 0 0 0 ( -4.1666666667vw / 2 );
                    width: 0.1302083333vw;
                    z-index: 1;
                }
            }
            @media only screen and ( min-width: em( 768, 16 ) ) and ( orientation: portrait ){
                .tablet{ display: block !important; }
                .mobile{ display: none; }
                a{
                    display: block;
                    height: auto;
                    left: 3.2552083333vw;
                    position: absolute;
                    transition: all 1s ease;
                    text-decoration: none;
                    top: 10%;
                    width: auto;
                    z-index: 1
                }
                .smiley-men{
                    bottom: 0;
                    left: auto;
                    margin: 0;
                    position: absolute;
                    right: -15%;
                    top: auto;
                }
            }
            @media only screen and ( min-width: em( 1024, 16 ) ) and ( orientation: landscape ){
                .tablet{ display: block !important; }
                .mobile{ display: none; }
                a{
                    display: inline-block;
                    height: auto;
                    left: 2%;
                    position: absolute;
                    transition: all 1s ease;
                    text-decoration: none;
                    top: 13%;
                    width: auto;
                    z-index: 1;
                }
                .smiley-men{
                    bottom: -13.18359375vw;
                    left: auto;
                    margin: 0;
                    position: absolute;
                    right: 0;
                    top: auto;
                }
            }
        }
        /*#promotion_of_the_month_banner_mobile{

            a{

                .june_promotion{ margin: -117.5px auto 0; }
                .fathers_day_promotion_mobile{ margin: -202px auto 0; }
            }
        }
        #change_your_look_august_2014_mobile{

            a{

                img{ margin: ( -230px / 2 ) 0 0 ( -300px / 2 ); }
            }
        }
        #give_me_a_call_september_2014_mobile{

            a{

                img{ margin: ( -261px / 2 ) 0 0 ( -269px / 2 ); }
            }
        }
        #change_your_look_october_2014_mobile{

            a{
                img{ margin: ( -192px / 2 ) 0 0 ( -302px / 2 ); }
            }
        }
        #we_leave_you_with_the_creeps_teaser_2014_mobile{

            a{
                img{ margin: ( -471px / 2 ) 0 0 ( -322px / 2 ); }
            }
        }
        #we_leave_you_with_the_creeps_2014_mobile{

            a{
                img{ margin: ( -477px / 2 ) 0 0 ( -322px / 2 ); }
            }
        }
        #october_is_about_finish_2014_mobile{

            a{
                img{ margin: ( -330px / 2 ) ( -283px / 2 ); }
            }
        }
        #change_your_look_november_2014_mobile{

            a{
                img{ margin: ( -218px / 2 ) 0 0 ( -303px / 2 ); }
            }
        }
        #finish-the-year-with-a-better-face-november-2014-mobile{

            a{
                img{ margin: ( -340px / 2 ) 0 0 ( -320px / 2 ); }
            }
        }
        #schedule_your_appointment_today_auto_banner_mobile{

            a{
                img{ margin: ( -360px / 2 ) 0 0 ( -320px / 2 ); }
            }
        }*/
        #schedule_your_appointment_today_auto_new_art_banner_mobile{
            .tablet{ display: none !important; }
            .text{
                left: 50%;
                margin: ( -340px / 2 ) 0 0 ( -308px / 2 );
                position: absolute;
                top: 50%;
            }
            @media only screen and ( min-width: em( 768, 16 ) ) and ( orientation: portrait ){
                .tablet{ display: block !important; }
                .text{
                    transition: all 1s ease;
                    top: 23%;
                    z-index: 1;
                }
                .auto{
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                }
            }
            @media only screen and ( min-width: em( 1024, 16 ) ) and ( orientation: landscape ){
                .tablet{ display: block !important; }
                .text{
                    left: auto;
                    right: 8%;
                    transition: all 1s ease;
                    top: 36%;
                    z-index: 1;
                }
                .auto{
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                }
            }
        }
        /*#cover-yourself-from-the-cold-december-2014-mobile{

            img{ margin: ( -403px / 2 ) 0 0 ( -320px / 2 ); }
        }*/
        /*#the-best-gift-is-to-recover-hair-banner-mobile{
            img{ margin: ( -568px / 2 ) 0 0 ( -320px / 2 ); }
        }*/
        /*#we-find-a-way-to-reach-you-december-2014-mobile{
            img{ margin: ( -231px / 2 ) 0 0 ( -290px / 2 ); }
        }*/
        #whe-opened-culiacan-january-2015-mobile{
            .tablet{ display: none !important; }
            img{ position: absolute; }
            .text{
                margin: ( -294px / 2 ) 0 0 ( -243px / 2 );
                left: 50%;
                top: 50%;
            }
            @media only screen and ( min-width: em( 768, 16 ) ) and ( orientation: portrait ){
                .tablet{ display: block !important; }
                .text{
                    transition: all 1s ease;
                    top: 23%;
                    z-index: 1;
                }
                .church{
                    bottom: 0;
                    left: -17%;
                    margin: 0;
                    position: absolute;
                }
            }
            @media only screen and ( min-width: em( 1024, 16 ) ) and ( orientation: landscape ){
                .tablet{ display: block !important; }
                .text{
                    left: auto;
                    right: 8%;
                    transition: all 1s ease;
                    top: 36%;
                    z-index: 1;
                }
                .church{
                    bottom: 0;
                    left: auto;
                    margin: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
        #ask-for-your-microinjerto-february-2015-mobile{
            .tablet{ display: none !important; }
            img{ position: absolute; }
            .text{
                margin: ( -568px / 2 ) 0 0 ( -320px / 2 );
                left: 50%;
                top: 50%;
            }
            @media only screen and ( min-width: em( 768, 16 ) ) and ( orientation: portrait ){
                .tablet{ display: block !important; }
                .text{
                    transition: all 1s ease;
                    top: 23%;
                    z-index: 1;
                }
            }
            @media only screen and ( min-width: em( 1024, 16 ) ) and ( orientation: landscape ){
                .tablet{ display: block !important; }
                .text{
                    left: auto;
                    right: 8%;
                    transition: all 1s ease;
                    top: 36%;
                    z-index: 1;
                }
            }
        }
    }
    #livechat-full,#livechat-compact-container{ display: none !important; visibility: hidden; }
    .alert_box{
        box-shadow: none;
        height: 380px;
        left: 50%;
        margin: ( -380px / 2 ) auto 0 ( -100% / 2 ) !important;
        overflow: hidden;
        top: 50% !important;
        width: 100%;
        .close{
            @extend .btn_cerrar_mobile;
            color: transparent;
            position: absolute;
            right: 5px;
            top: 45px;
            z-index: 1;
            &:hover{ @extend .btn_cerrar_mobile; }
        }
        .video_testimonials_home_scrollable{
            height: 180px;
            margin: 0 auto ;
            top: 45px;
            width: 320px;
            .video_items{
                display: block;
                height: 100%;
                position: absolute;
                width: 2000em;
                div {
                    display: inline-block;
                    float: left;
                    position: relative;
                    width: 320px;
                    video{
                        height: 180px;
                        margin: 0 auto;
                        top:10px;
                        width: 320px;
                    }
                }
            }
        }
        .title_testimonials_home_scrollable{
            background: none no-repeat scroll 0 0 rgba( 0, 0, 0, 1.0 );
            display: block;
            height: 151px;
            left: auto;
            margin: ( -151px / 2 ) auto 0;
            position: relative;
            top: 120px;
            width: 100%;
            .browser{
                margin: -20px auto 0;
                position: absolute;
                top: 50%;
                z-index: 10;
            }
            .disabled{ display: none; &:hover{ display: none; } }
            .prev{
                @extend .flecha_izq_mobile;
                left: 5%;
                &:hover{ @extend .flecha_izq_mobile; }
            }
            .next{
                @extend .flecha_der_mobile;
                right: 5%;
                &:hover{ @extend .flecha_der_mobile; }
            }
            .title_testimoniales_home_wrapper{
                display: block;
                height: 100%;
                margin: 0 auto;
                max-width: 320px !important;
                overflow: hidden;
                position: relative;
                width: 100%;
                .title_items{
                    display: block;
                    margin: 0 auto;
                    overflow: hidden;
                    position: absolute;
                    width: 2000em;
                    div{
                        display: block;
                        float: left;
                        height: 100%;
                        position: relative;
                        width: 320px;
                        h2, h3{
                            display: block;
                            margin: em( 0, 16 ) auto 0;
                            padding: 0;
                            text-align: center;
                            text-transform: uppercase;
                            width: auto;
                        }
                        h2{ display: none; }
                        h3{
                            &:before{
                                @include font-mask( $white, em( 15, 16 ), 1.5em, normal,  $Nobile_Bold );
                                content: "Testimonial "
                            }
                            @include font-mask( $yellow, em( 15, 16 ), 1.5em, normal,  $Fira_Sans_Ot_Light );
                        }
                    }
                }
            }
        }
        .navigator{
            bottom: 4px;
            display: block;
            height: 130px;
            left: 50%;
            margin: ( -130px / 2 ) 0 0 ( -205px / 2 );
            position: absolute;
            width: 205px;
            a{
                box-sizing: border-box;
                float: left;
                &:nth-child( 1n ){
                    @extend .thumbnail_giovanni;
                    &:hover{}
                }
                &:nth-child( 2n ){
                    @extend .thumbnail_martha;
                    &:hover{}
                }
                &:nth-child( 3n ){
                    @extend .thumbnail_javier;
                    &:hover{}
                }
                &:nth-child( 4n ){
                    @extend .thumbnail_leo;
                    &:hover{}
                }
                &:nth-child( 5n ){
                    @extend .thumbnail_rodrigo;
                    &:hover{}
                }
                &:nth-child( 6n ){
                    @extend .thumbnail_chapulin;
                    &:hover{}
                }
                &.active{ border: 1px solid $yellow; }
            }
        }
    }
}
#converted_date{

    #converted_date{

        article{

            div{

                p{}
            }
        }
    }
}
