
#footer{
    height: em( 44, 16 ) !important;
    footer{
        background: #373737;
        height: 100% !important;
        left: 0;
        margin: 0 !important;
        top: 0;
        width: 100%;
        ul{
            clear: both;
            display: block;
            float: left;
            height: 100% !important;
            top: 0;
            width: 100%;
            li{
                box-sizing: border-box;
                height: 100%;
                margin: 0;
                width: 33.33%;
                a{
                    @include font-mask( $white, em( 12, 16 ), em( 44, 12 ), normal, $Fira_Sans_Ot_Light );
                    border-top: 0 none transparent;
                    float: left;
                    height: 100% !important;
                    text-indent: 0;
                    width: 100%;
                    strong{}
                    &:hover,
                    &.current{ height: em( 40, 12 ); }
                    &.current{ border-bottom: 3px solid $yellow; }
                }
                &:last-child{ 
                    margin: 0;
                    a{ font-size: em( 11, 16 ); line-height: em( 44, 11 );  }
                }
                &.current{ height: 100% !important; }
            }
            .chat{
                display: none !important;
                visibility: hidden;
                a{

                    &:hover{}
                }
                &:hover{}
            }
        }
    }
    #privacy_policy{
        display: none !important;
        visibility: hidden;
        a{

            &:hover{ }
        }
    }
}
#home{
    display: block;
    max-height: 568px !important;
    max-width: 568px !important;
    min-height: 320px !important;
    min-width: inherit !important;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    #wrapper_background{

        figure{

            img{
                display: none;
                &:first-child{ display: block; }
            }
        }
    }
    section{
        box-sizing: border-box;
        display: block;
        height:  100%;
        margin: 0;
        max-height: 575px;
        max-width: 575px;
        min-width: 320px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 53px !important;
        width: 100% !important;
        z-index: 5 !important;
        >div{
            display: none;
            height: 100%;
            max-height: 568px !important;
            min-height: 470px !important;
            position: relative;
            top: 0 !important;
            width: 100% !important;
            a{
                display: block;
                height: 100%;
                margin: 0 auto;
                position: relative;
                width: 100%;
                img{
                    display: block;
                    left: 50%;
                    position: absolute;
                    right: auto;
                    top: 50%;
                }
            }
        }
        #schedule_your_appointment_today_banner_mobile{

            a{

                img{ margin: -135px auto 0; }
            }
        }
        #schedule_your_appointment_today_dancing_banner_mobile{

            a{

                .make_appointment{ margin: ( -276px / 2 ) 0 0 ( -321px / 2 ); }
                .agora_no_brasil{ margin: -224.5px auto 0; }
            }
        }
        #testimonial_banner_mobile{

            a{

                img{ margin: -206px 0 0 -160px; }
            }
        }
        #promotion_of_the_month_banner_mobile{

            a{

                .june_promotion{ margin: -117.5px auto 0; }
                .fathers_day_promotion_mobile{ margin: -202px auto 0; }
            }
        }
        #change_your_look_august_2014_mobile{

            a{

                img{ margin: ( -230px / 2 ) 0 0 ( -300px / 2 ); }
            }
        }
        #give_me_a_call_september_2014_mobile{

            a{

                img{ margin: ( -261px / 2 ) 0 0 ( -269px / 2 ); }
            }
        }
        #change_your_look_october_2014_mobile{

            a{
                img{ margin: ( -192px / 2 ) 0 0 ( -302px / 2 ); }
            }
        }
        #we_leave_you_with_the_creeps_teaser_2014_mobile{

            a{
                img{ margin: ( -471px / 2 ) 0 0 ( -322px / 2 ); }
            }
        }
        .mobile:nth-child( 3n + 1 ){ display: block; }
        #october_is_about_finish_2014_mobile{
            
            a{
                img{ margin: ( -330px / 2 ) ( -283px / 2 ); }
            }
        }
    }
    #livechat-full,#livechat-compact-container{ display: none !important; visibility: hidden; }
    .alert_box{
        height: 180px;
        margin: -90px auto 0 !important;
        width: 320px;
        video{;
            height: 160px;
            margin: 0 auto;
            top:10px;
            width: 300px;
        }
    }
}
#converted_date{

    #converted_date{

        article{

            div{

                p{}
            }
        }
    }
}
