#home{
    @extend .clearfix;
    min-width: 960px;
    section{
        @extend .wrapper;
        display: table;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        margin: 0 auto;
        padding: 0;
        position: static;
        width: 960px;
        z-index: 1;
        >div{
            bottom: 59px;
            display: none;
            height: 84% !important;
            margin: 0 auto !important;
            max-height: 750px !important;
            min-height: 488px !important;
            padding: 0 !important;
            position: absolute;
            width: 960px !important;
            &:first-child{ display:block; }
        }
        .wrapper_information{
            @extend .clearfix;
            float: none !important;
            position: relative;
            top: 12%;
            width: 700px;
            z-index: 1;
            h2,h3{
                margin: 0;
                text-align: center;
                text-transform: uppercase;
            }
            h2{
                @include font-mask( $text_gray, em( 63, 16 ), em( 28, 63 ), normal, $Fira_Sans_Ot_Light );
                letter-spacing: em( 10, 63 );
                padding: 20px 0 0;
                strong{
                    font-family: $Nobile_Bold;
                    font-size: em( 53, 63 );
                }
            }
            hr{
                border-top: 3px solid #ECD102;
                display: block;
                height: 0;
                margin: 11px 0 9px;
                padding: 0;
            }
            h3{
                @include font-mask( $text_gray, em( 18, 16 ), em( 18, 18 ), normal, $Fira_Sans_Ot_Light );
                letter-spacing: em( 23, 18 );
                padding: 0 0 10px;
            }
        }
        .discounts{
            float: left;
            height: 171px;
            position: relative;
            width: 432px;
            > div{
                background-image: none !important;
                box-sizing: border-box;
                float: left;
                height: 141px;
                padding: 0 !important;
                position: absolute;
                width: 33.335% !important;
                p{
                    padding: 0 !important;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    top: 50%;
                    width: 100%;
                }
                .triangle{ @extend .small_triangle; }
            }
            .twenty{

                p{
                    @include font-mask( $text_gray, em( 16, 16 ) !important, em( 16, 16 ) !important, normal, $Nobile_Bold !important );
                    margin: -28px auto 0 !important;
                    strong{

                        span{
                            font-size: em( 27, 16 );
                            line-height: em( 27, 27 );
                        }
                    }
                }
                .triangle{}
            }
            .thirty{
                left: 144px;
                z-index: 5;
                p{
                    @include font-mask( $white, em( 50, 16 ) !important, em( 50, 50 ) !important, normal, $Nobile_Bold !important );
                    margin: -25px auto 0 !important;
                    strong{}
                }
                .triangle{ border-left-color: #494949; }
            }
            .fourthy{
                left: 288px;
                padding: 0 23px 0 0;
                z-index: 0;
                p{
                    @include font-mask( $white !important, em( 14, 16 ) !important, em( 21, 14 ) !important, normal, $Nobile_Bold !important );
                    margin: -42px auto 0 !important;
                    strong{

                        .yellow{ color: $yellow; }
                    }
                }
            }
            .aclaration{
                bottom: 0;
                height: 30px;
                left: 0;
                width: 100% !important;
                p{
                    @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Fira_Sans_Ot_Light );
                    display: block;
                    font-weight: normal;
                    margin: 0 auto;
                    letter-spacing: em( 12, 12 );
                    text-align: center;
                    position: static;
                    strong{}
                }
            }
            p.disclaimer{
                @include font-mask( $text_gray, em( 11, 16 ), em( 17, 11 ), normal );
                bottom: -123px;
                margin: 0;
                padding: 19px 0;
                position: absolute;
                width: 270px;
            }
            .logos{
                bottom: -60px;
                left: 300px;
                position: absolute;
            }
        }
        @import "banners/schedule-your-appointment-today";
        @import "banners/schedule-your-appointment-today-dancing-banner";
        @import "banners/agora-no-brasil";
        @import "banners/testimonial-banner";
        @import "banners/promotion-of-the-month";
        @import "banners/promotion-fathers-day-banner";
        @import "banners/july-2014-promotion-of-the-month";
        @import "banners/august-2014-promotion-of-the-month";
        @import "banners/change-your-look-august-2014";
        @import "banners/give-me-a-call-september-2014";
        @import "banners/change-your-look-octuber-2014";
        @import "banners/octuber-is-about-to-finish-2014";
        @import "banners/we-leave-you-with-the-creeps-november-2014";
    }
    #livechat-compact-container{ z-index: 0 !important; }
    .alert_background{
        background: none no-repeat scroll 0 0 rgba( 0, 0, 0, 0.9 );
        display: none;
        height: 100%;
        width: 100%;
    }
    .alert_box{
        background: none no-repeat scroll 0 0 transparent;
        border-radius: 0;
        box-shadow: 0;
        display:none;
        height: 100%;
        margin: 0 auto 0 !important;
        padding: 0;
        position: absolute;
        top: 0% !important;
        width: 100%;
        .close{
            @extend .cierra_over;
            color: transparent;
            position: absolute;
            right: 60px;
            top: 80px;
            &:hover{ @extend .cierra_over; }
        }
        .video_testimonials_home_scrollable{
            display: block;
            height: 340px;
            left: auto;
            margin: -170px auto 0;
            overflow: hidden;
            position: relative;
            top: 33%;
            width: 603px;
            .video_items{
                display: block;
                height: 100%;
                position: relative;
                width: 2000em;
                div { display: block; float: left; position: relative; width: 603px; }
            }
        }
        .title_testimonials_home_scrollable{
            background: none no-repeat scroll 0 0 rgba( 0, 0, 0, 0.8 );
            display: block;
            height: 130px;
            left: auto;
            margin: -75px auto 0;
            position: relative;
            top: 46%;
            width: 100%;
            .browser{
                margin: -20px auto 0;
                position: absolute;
                top: 50%;
            }
            .disabled{ display: none; &:hover{ display: none; } }
            .prev{
                @extend .flecha_izq_testimoniales;
                left: 15%;
                &:hover{ @extend .flecha_izq_testimoniales_over; }
            }
            .next{
                @extend .flecha_der_testimoniales;
                right: 15%;
                &:hover{ @extend .flecha_der_testimoniales_Over; }
            }
            .title_testimoniales_home_wrapper{
                display: block;
                height: 100%;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                width: 600px;
                .title_items{
                    display: block;
                    margin: 0 auto;
                    overflow: hidden;
                    position: relative;
                    width: 2000em;
                    div{
                        display: block;
                        float: left;
                        height: 100%;
                        position: relative;
                        width: 600px;
                        h2, h3{
                            display: block;
                            margin: 0 auto;
                            padding: 0;
                            text-align: center;
                            text-transform: uppercase;
                            width: 100%;
                        }
                        h2{
                            @include font-mask( $white, em( 30, 16 ), em( 60, 30 ), normal,  $Nobile_Bold );
                        }
                        h3{
                            @include font-mask( $yellow, em( 50, 16 ), em( 60, 50 ), normal,  $Fira_Sans_Ot_Light );
                        }
                    }
                }
            }
        }
        .navigator{
            bottom: 10%;
            display: block;
            height: 50px;
            left: 50%;
            margin: 0 0 0 ( -550px / 2 );
            position: absolute;
            width: 550px;
            a{
                float: left;
                &:first-child{
                    @extend .testimonial_2_thumbnail;
                    &:hover{}
                }
                &:nth-child( 2n ){
                    @extend .testimonial_5_thumbnail;
                    &:hover{}
                }
                &:nth-child( 3n ){
                    @extend .testimonial_4_thumbnail;
                    &:hover{}
                }
                &:nth-child( 4n ){
                    @extend .testimonial_1_thumbnail;
                    &:hover{}
                }
                &:nth-child( 5n ){
                    @extend .testimonial_3_thumbnail;
                    &:hover{}
                }
                &:nth-child( 6n ){
                    @extend .chapulin_3_thumbnail;
                    &:hover{}
                }
                &.active{ border: 3px solid $yellow; }
            }
        }
    }
}
#converted_date{

    #converted_date{
        height: 458px;
        article{
            display: block;
            height: 100%;
            div{
                display: block;
                height: 100%;
                position: relative;
                p{
                    @include font-mask( $text_gray, em( 16, 16 ), em( 16, 16 ), normal, $Fira_Sans_Ot_Light );
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 40%;
                    width: 70%;
                }
            }
        }
    }
}
