#microinjerto{
    
    .reveal{ 
        margin: 0 0 0 -160px !important;
        top: 60px !important;
    }
    #microinjerto_landing{
        width: 100%;
        .microinjerto_title{
            height: auto;
            width: 100%;
            a{
                
                .principal_section{
                    clear: both;
                    display: block;
                    float: left;
                    height: 200px;
                    position: relative;
                    width: 100%;
                    h1{
                        margin: 0;
                        position: relative;
                        top: 47%;
                    }
                    h2{}
                    span{ @extend .putDesktop; }
                }
                .image{
                    @extend .putDesktop;
                    img{}
                }
            }
        }
        .microinjerto_subsection{
            display: none;
            visibility: hidden !important;
            .subsection{
                
                a{
                    
                    .image{
                        
                        h2{
                            
                            strong{}
                        }
                        .video_link{}
                        .link{ }
                    }
                    &:nth-child( n + 1 ){
                        
                        .image{
                            
                            h2{
                                
                                strong{  }
                            }
                            &:hover{  }
                        }   //  1º cuadro
                    }
                    &:nth-child( n + 2 ){
                        
                        .image{
                            
                            h2{
                                
                                strong{  }
                            }
                            &:hover{  }
                        }   //  2º cuadro
                    }
                }
                &:nth-child( n + 2 ){
                    
                    a{
                        
                        &:nth-child( n + 1 ){
                            
                            .image{
                                
                                h2{
                                    
                                    strong{  }
                                }
                                &:hover{  }
                            }   //  3er cuadro
                        }
                        &:nth-child( n + 2 ){
                            
                            .image{
                                
                                h2{
                                    
                                    strong{  }
                                }
                                &:hover{  }
                            }   //  4º cuadro
                        }
                    }
                }
            }
        }
    }
    #microinjerto{
        height: auto;
        margin: 30px 0 0;
        width: 100%;
        #sectio3gris{
            background-color: $white;
            box-sizing: border-box;
            height: auto;
            padding: 0;
            width: 100%;
            h2{
                @include font-mask( $yellow, em( 30, 16 ), em( 30, 30 ), normal, $Nobile_Bold );
                margin: 10px 0 20px;
                padding: 0 10px;
                text-align: center;
                text-transform: uppercase;
            }
            h3,p{ @extend .text_for_mobile; }
            h3{ margin: 10px auto; padding: 0 30px; }
            p{ margin: 10px 0; padding: 0 30px; }
        }
        #section3texto{
            background: $white;
            box-sizing: border-box;
            height: auto;
            padding: 0;
            width: 100%;
            p{ @extend .text_for_mobile; padding: 0 30px; width: 100%; }
            h3{}
        }
        #section3amarillo{
            @extend .putDesktop;
            h2{}
        }
    }
    #microinjerto_information{
        width: 100%;
        .section_title{
            height: auto;
            width: 100%;
            .subsection_title{
                background-color: transparent;
                height: auto;
                width: 100%;
                h3{
                    @include font-mask( $yellow, em( 22, 16 ), em( 22, 22 ), normal, $Nobile_Bold );
                    display: block;
                    margin: 10px 0;
                    text-align: center;
                    strong{ @include font-mask( $text_gray, em( 18, 22 ), em( 18, 18 ), normal ); }
                }
                span{}
            }
            figure{
                @extend .putDesktop;
                img{}
            }
        }
        .content{
            padding: 0;
            width: 100% !important;
            h4{ text-align: center; }
            p{
                @extend .text_for_mobile;
                text-align: center !important;
                margin: 5px 0 !important;
                padding: 0 30px !important;
                strong{ color: $yellow; }
            }
            article{
                height: auto;
                width: 100%;
                h4{}
                p{
                    @extend .text_for_mobile;
                    padding: 0 30px;
                    strong{}
                }
            }
        }
    }
    #microinjerto_demo{
        @extend .putDesktop;
        video{  }
    }
    #microinjerto_testimonials{
        @extend .putDesktop;
        article{ }
        .section_title{
            
            .subsection_title{
                
                h3{
                    
                    strong{  }
                }
                span{  }
            }
        }
        .content{
            
            figure{
                
                .testimonial{
                    
                    img{  }
                    div{
                        
                        p{
                            
                            strong{}
                        }
                    }
                    .link{  }
                    &:nth-child( 2n + 1 ){}
                    &:nth-child( 2n + 2 ){}
                    &:nth-child( 2n + 3 ){}
                    &:nth-child( 2n + 4 ){}
                }
            }
        }
        .testimonials_explained{
            
            .link_wrapper{
                
                &:hover{  }
                &:first-child{  }
                &:last-child{  }
                .prev_testimonial,
                .next_testimonial{}
                .prev_testimonial{
                    
                    &:hover{  }
                }
                .next_testimonial{
                    
                    &:hover{  }
                }
                .disabled{  }
            }
            .testimonials_explained_scrollable{
                
                .items_testimonials{
                    
                    div{
                        
                        > p{
                            
                            strong{}
                            &:first-child{
                                
                                strong{  }
                            }
                        }
                        a{
                            
                            &:hover{  }
                        }
                        figure{
                            
                            img{
                                
                                &:first-child{  }
                            }
                            figcaption{
                                
                                p{
                                    
                                    strong{  }
                                    &:first-child{  }
                                }
                            }
                        }
                    }
                }
            }
        }
        .subsection_link{
            
            a{
                
                div{
                    
                    h3{
                        
                        strong{}
                    }
                    .link{}
                }
                &:nth-child( n + 2 ){
                    
                    div{
                        
                        h3{
                            
                            strong{}
                        }
                        .link{}
                    }
                }
            }
        }
    }
    #microinjerto_gallery{
        @extend .putDesktop;
        article{
            
            .browser{}
            .prev{}
            .next{}
            .disabled{}
            .scrollable{
                
                .items{
                    
                    figure{
                        
                        img{}
                    }
                }
            }
        }
    }
    #microinjerto_comparative{
        @extend .putDesktop;
        .title{
            
            strong{}
        }
        .text{}
        .down_triangle{}
        #methods{
            
            caption{}
            thead{
                
                tr{
                    
                    th{
                        
                        h4{
                            
                            strong{}
                        }
                        span{}
                    }
                    .fue{
                        
                        h4{
                            
                            strong{}
                        }
                        p{}
                    }
                    .others{
                        
                        h4{
                            
                            strong{}
                        }
                    }
                    .separator{ }
                }
            }
            tfoot{
                
                tr{
                    
                    td{
                        
                        figure{
                            
                            img{}
                        }
                    }
                }
            }
            tbody{
                
                tr{
                    
                    td{
                        
                        h4{
                            
                            strong{}
                        }
                        p{}
                        .one{}
                        .two{}
                        .three{}
                        .four{}
                        .five{}
                        span{}
                        &:last-child{}
                        .indicator{
                            
                            strong{}
                            &.last{}
                        }
                    }
                    &.separator{  }
                }
                .gray{
                    
                    p{}
                }
            }
        }
    }
    #microinjerto_auto_diagnosis{
        @extend .putDesktop;
        article{
            
            .browse{}
            a.prev{}
            a.next{}
            .disabled{}
            #auto_diagnostic{
                
                h3{
                    
                    strong{}
                }
                .diagnosis_scrollable{
                    
                    .diagnosis_items{
                        
                        .levels{
                            
                            img{ }
                            .profile{ }
                            .top{ }
                            > div{
                                
                                h4{
                                    
                                    strong{ }
                                }
                                div.input_radio{
                                    
                                    label{
                                        
                                        strong{}
                                    }
                                    .radio{
                                        
                                        span{
                                            
                                            .select_level{}
                                        }
                                        .checked{}
                                    }//Cmv2014+$
                                }
                            }
                            &:last-child{
                                
                                > div {
                                    
                                    h4{}
                                }
                            }
                        }
                        .V{
                            
                            > div{
                                
                                h4{}
                            }
                        }
                    }
                }
            }
            .diagnosis_budget{
                
                h4{
                    
                    strong{}
                }
                form{
                    
                    fieldset{
                        
                        .text{
                            
                            .error{}
                            input{}
                            &:first-child{
                                }
                                .error{}
                            }
                            &:last-child{}
                        }
                        .submit{
                            
                            input{
                                
                                &:hover{}
                            }
                        }
                    }
                }
        }
    }
    .internal_navigation_menu{
        @extend .putDesktop;
        ul{
            
            li{}
        }
    }
}
