#platelet_rich_plasma{
    display: block;
    //max-width: 568px !important;
    //min-height: 320px !important;
    height: 100% !important;
    min-width: inherit !important;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: visible !important;
    width: 100% !important;
    .reveal{
        height: 100%;
        left: 0;
        margin: 0 auto;
        top: 120px !important;
        .slides{
            height: 100%;
            #epidermic_growth_factors{
                height: auto;
                margin: 0 0 20px;
                > div{ width: 100% !important; }
                #section11Texto1{
                    height: auto;
                    margin: 50px auto 20px;
                    position: relative;
                    top: 180px;
                    p{ @extend .text_for_mobile; font-weight: bold; margin: 0 !important; padding: 0 30px; width: 100%; }
                    strong{}
                }
                #section11Texto4{
                    
                    p{ @extend .text_for_mobile; font-weight: bold; padding: 0 30px; width: 100%; }
                    strong{}
                }
                #section11Amarillo{
                    box-sizing: border-box;
                    height: 200px;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    h2 {
                        left: 0;
                        margin: -26px auto 0;
                        padding: 0;
                        position: relative;
                        right: 0;
                        text-align: center;
                        top: 50%;
                        a {}
                        strong{}
                    }
                }
                #section11Texto2{
                    @extend .putDesktop;
                    p {}
                }
                #section11Texto3{ @extend .putDesktop; }
                #section11Texto4{
                    height: auto;
                    margin: 0 auto 20px;
                    padding: 0;
                    position: relative;
                    top: 190px;
                    p{ @extend .text_for_mobile; font-size: em( 13, 13 ) !important; font-weight: bold; margin: 0; padding: 0 30px; width: 100%; }
                }
            }
            .internal_navigation_menu{
                bottom: 15px;
                display: block;
                height: 23px;
                left: 0;
                margin: 0 auto;
                position: relative;
                right: 0;
                top: auto;
                width: 23px;
                ul{
                    display: block;
                    height: 100%;
                    margin: 0 auto;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    li{
                        height: 100%;
                        margin: 0 auto;
                        padding: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}