#privacy_policy_document{
    
    .reveal{ top: 30px !important; }
    section{
        margin: 0 auto;
        padding: 0 0 0 30px !important;
        width: 97%;
        article{
            
            h1{
                @include font-mask( $text_gray, em( 20, 16 ), em( 25, 20 ), normal, $Nobile_Bold );
                text-align: left;
            }
            p{
                @include font-mask( $text_gray, em( 11, 16 ), em( 13, 11 ), normal, $Fira_Sans_Ot_Light );
                margin: 5px 0;
                padding: 0;
                text-align: justify;
                strong{
                    @include font-mask( $text_gray, em( 10, 11 ), em( 10, 10 ), normal, $Nobile_Bold );
                    a{
                        color: $text_gray;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}