#promotion_fathers_day_banner{

    figure.friends{
        @extend .clearfix;
        bottom: 0;
        display: block;
        height: 682px;
        position: absolute;
        //left: 890px;
        right: -20%;
        width: 528px;
        z-index: 0;
        img{
            bottom: 0;
            height: auto !important;
            position: absolute;
            right: 0;
            width: auto !important;
        }
        .desktop{ display: block; }
        .mobile{ display: none; }
    }
    .fathers_day_promo{
        @extend .clearfix;
        float: none !important;
        position: relative;
        top: 12%;
        width: 700px;
        z-index: 1;
        p{
            @include font-mask( $text_gray, em( 16, 16 ), em( 19, 16 ), normal, $Fira_Sans_Ot_Light );
        }
        .discounts{
            float: left;
            height: 171px;
            position: relative;
            width: 432px;
            > div{
                background-image: none !important;
                box-sizing: border-box;
                float: left;
                height: 141px;
                padding: 0 !important;
                position: absolute;
                width: 33.335% !important;
                p{
                    padding: 0 !important;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    top: 50%;
                    width: 100%;
                }
                .triangle{ @extend .small_triangle; }
            }
            .twenty{
                background-color: $yellow !important;
                p{
                    @include font-mask( $text_gray, em( 16, 16 ) !important, em( 20, 16 ) !important, normal, $Fira_Sans_Ot_Light !important );
                    margin: -40px auto 0 !important;
                    .percentage{
                        color: $white;
                        font-family: $Nobile_Bold;
                        font-size: 55px;
                        line-height: 40px;
                    }
                    strong{
                        font-family: $Nobile_Bold;
                        font-size: em( 14, 16 );
                    }
                }
                .nexus{
                    @include font-mask( $white, em( 15, 16 ), em( 15, 15 ), normal, $Nobile_Bold !important );
                    display: inline-block;
                    margin: -11px auto 0 !important;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    width: auto;
                    z-index: 7;
                }
                .triangle{ z-index: 6; }
            }
            .thirty{
                background-color: #494949 !important;
                left: 144px;
                z-index: 5;
                p{
                    @include font-mask( $yellow, em( 17, 16 ) !important, em( 19, 17 ) !important, normal, $Fira_Sans_Ot_Light !important );
                    margin: -40px auto 0 !important;
                    .percentage{
                        color: $white;
                        font-family: $Nobile_Bold;
                        font-size: 55px;
                        line-height: 40px;
                    }
                    strong{
                        font-family: $Nobile_Bold;
                        font-size: em( 12, 16 );
                    }
                }
                .triangle{ border-left-color: #494949; }
            }
            .fourthy{
                background-color: $text_gray !important;
                left: 288px;
                padding: 0 23px 0 0;
                z-index: 0;
                p{
                    @include font-mask( $white, em( 28, 16 ), em( 22, 28 ), normal, $Fira_Sans_Ot_Light );
                    margin: 16px 0 5px;
                    top: 0;
                    strong{ font-family: $Nobile_Bold; font-size: em( 24, 25 ); }
                }
                hr{
                    border: 1px solid $yellow;
                    display: block;
                    height: 0;
                    margin: 0 auto;
                    width: 70%;
                }
                .phone{
                    @include font-mask( $yellow, em( 33, 16 ), em( 29, 33 ), normal, $Fira_Sans_Ot_Light );
                    margin: 0;
                    strong{ font-family: $Nobile_Bold; font-size: em( 34, 33 ); }
                }
            }
            .aclaration{
                background-color: #2B2B2B;
                bottom: 0;
                height: 30px;
                left: 0;
                width: 100% !important;
                p{
                    @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Fira_Sans_Ot_Light );
                    display: block;
                    font-weight: normal;
                    margin: 0 auto;
                    letter-spacing: em( 12, 12 );
                    text-align: center;
                    position: static;
                    strong{}
                }
            }
            p.disclaimer{
                @include font-mask( $text_gray, em( 11, 16 ), em( 17, 11 ), normal );
                bottom: -60px;
                margin: 0;
                padding: 19px 0;
                position: absolute;
                width: 270px;
                strong{ font-family: $Nobile_Bold; font-weight: normal; }
            }
        }
    }
    #july_2014_promotion_of_the_month{

        #julio_promo{

            .wrapper_information{
                @extend .clearfix;
                float: none !important;
                position: relative;
                top: 12%;
                width: 700px;
                z-index: 1;
                h2,h3{
                    margin: 0;
                    text-align: center;
                    text-transform: uppercase;
                }
                h2{
                    @include font-mask( $text_gray, em( 63, 16 ), em( 28, 63 ), normal, $Fira_Sans_Ot_Light );
                    letter-spacing: em( 10, 63 );
                    padding: 20px 0 0;
                    strong{
                        font-family: $Nobile_Bold;
                        font-size: em( 53, 63 );
                    }
                }
                hr{
                    border-top: 3px solid #ECD102;
                    display: block;
                    height: 0;
                    margin: 11px 0 9px;
                    padding: 0;
                }
                h3{
                    @include font-mask( $text_gray, em( 18, 16 ), em( 18, 18 ), normal, $Fira_Sans_Ot_Light );
                    letter-spacing: em( 23, 18 );
                    padding: 0 0 10px;
                }
            }
            .discounts{
                float: left;
                height: 171px;
                position: relative;
                width: 432px;
                > div{
                    background-image: none !important;
                    box-sizing: border-box;
                    float: left;
                    height: 141px;
                    padding: 0 !important;
                    position: absolute;
                    width: 33.335% !important;
                    p{
                        padding: 0 !important;
                        position: relative;
                        text-align: center;
                        text-transform: uppercase;
                        top: 50%;
                        width: 100%;
                    }
                    .triangle{ @extend .small_triangle; }
                }
                .twenty{

                    p{
                        @include font-mask( $text_gray, em( 16, 16 ) !important, em( 16, 16 ) !important, normal, $Nobile_Bold !important );
                        margin: -28px auto 0 !important;
                        strong{

                            span{
                                font-size: em( 27, 16 );
                                line-height: em( 27, 27 );
                            }
                        }
                    }
                    .triangle{}
                }
                .thirty{
                    left: 144px;
                    z-index: 5;
                    p{
                        @include font-mask( $white, em( 50, 16 ) !important, em( 50, 50 ) !important, normal, $Nobile_Bold !important );
                        margin: -25px auto 0 !important;
                        strong{}
                    }
                    .triangle{ border-left-color: #494949; }
                }
                .fourthy{
                    left: 288px;
                    padding: 0 23px 0 0;
                    z-index: 0;
                    p{
                        @include font-mask( $white !important, em( 14, 16 ) !important, em( 21, 14 ) !important, normal, $Nobile_Bold !important );
                        margin: -42px auto 0 !important;
                        strong{

                            .yellow{ color: $yellow; }
                        }
                    }
                }
                .aclaration{
                    bottom: 0;
                    height: 30px;
                    left: 0;
                    width: 100% !important;
                    p{
                        @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Fira_Sans_Ot_Light );
                        display: block;
                        font-weight: normal;
                        margin: 0 auto;
                        letter-spacing: em( 12, 12 );
                        text-align: center;
                        position: static;
                        strong{}
                    }
                }
                p.disclaimer{
                    @include font-mask( $text_gray, em( 11, 16 ), em( 17, 11 ), normal );
                    bottom: -123px;
                    margin: 0;
                    padding: 19px 0;
                    position: absolute;
                    width: 270px;
                }
                .logos{
                    bottom: -60px;
                    left: 300px;
                    position: absolute;
                }
            }
        }
    }
}