
/* Start Sprite Master CSS */
.animacion_mobile_over,.animacion_mobile,.clasificacion_mobile_over,.clasificacion_mobile,.comparativa_mobile_over,.comparativa_mobile,.electroporacion_mobile_over,.electroporacion_mobile,.galeria_mobile_over,.galeria_mobile,.mesoterapia_mobile_over,.mesoterapia_mobile,.plaquetas_mobile_over,.plaquetas_mobile,.testimoniales_mobile_over,.testimoniales_mobile,.tratamiento_medico_mobile_over,.tratamiento_medico_mobile,.microinjerto_home_mobile_over,.microinjerto_home_mobile{display: inline-block;background-repeat: no-repeat;background-image: url('../img/tratamiento_integral/sprite-integral-treatment-mobile.png');}
.animacion_mobile_over{background-position:0px 0px;width:162px;height:162px;}
.animacion_mobile{background-position:0px -162px;width:162px;height:162px;}
.clasificacion_mobile_over{background-position:0px -324px;width:162px;height:162px;}
.clasificacion_mobile{background-position:-162px 0px;width:162px;height:162px;}
.comparativa_mobile_over{background-position:-162px -162px;width:162px;height:159px;}
.comparativa_mobile{background-position:-162px -321px;width:162px;height:159px;}
.electroporacion_mobile_over{background-position:-324px 0px;width:162px;height:162px;}
.electroporacion_mobile{background-position:-324px -162px;width:162px;height:162px;}
.galeria_mobile_over{background-position:-324px -324px;width:162px;height:159px;}
.galeria_mobile{background-position:-486px 0px;width:162px;height:159px;}
.mesoterapia_mobile_over{background-position:-486px -159px;width:162px;height:159px;}
.mesoterapia_mobile{background-position:-486px -318px;width:162px;height:159px;}
.plaquetas_mobile_over{background-position:-648px 0px;width:162px;height:162px;}
.plaquetas_mobile{background-position:-648px -162px;width:162px;height:162px;}
.testimoniales_mobile_over{background-position:-648px -324px;width:162px;height:159px;}
.testimoniales_mobile{background-position:-810px 0px;width:162px;height:159px;}
.tratamiento_medico_mobile_over{background-position:-972px 0px;width:162px;height:162px;}
.tratamiento_medico_mobile{background-position:-810px -159px;width:162px;height:162px;}
.microinjerto_home_mobile_over{background-position:-972px -162px;width:162px;height:159px;}
.microinjerto_home_mobile{background-position:-810px -321px;width:162px;height:159px;}
/* End Sprite Master CSS */
