
/* Start Sprite Master CSS */
.alopecia_menu_BN,.alopecia_menu,.electroporacion_menu_BN,.electroporacion_menu,.formulas_magistrales_menu_BN,.formulas_magistrales_menu,.mesoterapia_menu_BN,.mesoterapia_menu,.microinjerto_home_over,.microinjerto_home,.plaquetas_over,.plaquetas{display: inline-block;background-repeat: no-repeat;background-image: url('../img/tratamiento_integral/sprite-integral-treatment.png');}
.alopecia_menu_BN{background-position:0px 0px;width:246px;height:250px;}
.alopecia_menu{background-position:-247px 0px;width:246px;height:250px;}
.electroporacion_menu_BN{background-position:-494px 0px;width:246px;height:250px;}
.electroporacion_menu{background-position:-741px 0px;width:246px;height:250px;}
.formulas_magistrales_menu_BN{background-position:-988px 0px;width:246px;height:250px;}
.formulas_magistrales_menu{background-position:-1235px 0px;width:246px;height:250px;}
.mesoterapia_menu_BN{background-position:-1482px 0px;width:246px;height:250px;}
.mesoterapia_menu{background-position:-1729px 0px;width:246px;height:250px;}
.microinjerto_home_over{background-position:-1976px 0px;width:246px;height:250px;}
.microinjerto_home{background-position:-2223px 0px;width:246px;height:250px;}
.plaquetas_over{background-position:-2470px 0px;width:246px;height:250px;}
.plaquetas{background-position:-2717px 0px;width:246px;height:250px;}
/* End Sprite Master CSS */
