
/* Start Sprite Master CSS */
.Enviar,.btn_chat_linea,.btn_chat_linea_Over,.btn_mas,.btn_mas_over,.btn_play,.btn_play_chico,.cuadro_seccion,.cuadro_seccion_over,.enviar,.enviar_over,.flecha_der,.flecha_der_triangle,.flecha_izq,.flecha_izq_triangle,.icono_menu,.lupa,.seleccion,.seleccion_over,.triangulo_cuadro_chico,.triangulo_cuadro_chico_Over,.contacto_2,.contacto,.dir_medico_2,.dir_medico,.face_2,.face,.quienes_somos_2,.quienes_somos,.sucursales_2,.sucursales,.testimonios_2,.testimonios,.twitter_2,.twitter,.youtube_2,.youtube,.google_over,.google,.btn_menu_M,.logo_boja_M_over,.noticias,.noticias_over,.icono-tel,.icono-tel,.giovanni-bojanini-title,.testimonial_5_thumbnail,.testimonial_4_thumbnail,.testimonial_3_thumbnail,.testimonial_2_thumbnail,.testimonial_1_thumbnail{display: inline-block;background-repeat: no-repeat;background-image: url('../img/home/sprite.png');}
.Enviar{background-position:0px 0px;width:69px;height:69px;}
.btn_chat_linea{background-position:-69px 0px;width:56px;height:56px;}
.btn_chat_linea_Over{background-position:-125px 0px;width:56px;height:56px;}
.btn_mas{background-position:-181px 0px;width:32px;height:28px;}
.btn_mas_over{background-position:-213px 0px;width:32px;height:28px;}
.btn_play{background-position:-245px 0px;width:84px;height:84px;}
.btn_play_chico{background-position:-329px 0px;width:42px;height:42px;}
.cuadro_seccion{background-position:-371px 0px;width:17px;height:16px;}
.cuadro_seccion_over{background-position:-388px 0px;width:15px;height:16px;}
.enviar{background-position:-403px 0px;width:65px;height:65px;}
.enviar_over{background-position:-329px -42px;width:65px;height:65px;}
.flecha_der{background-position:-468px 0px;width:21px;height:126px;}
.flecha_der_triangle{background-position:-181px -28px;width:39px;height:78px;}
.flecha_izq{background-position:-489px 0px;width:21px;height:126px;}
.flecha_izq_triangle{background-position:-69px -56px;width:39px;height:78px;}
.icono_menu{background-position:-371px -16px;width:23px;height:23px;}
.lupa{background-position:-220px -28px;width:17px;height:18px;}
.seleccion{background-position:-108px -56px;width:29px;height:29px;}
.seleccion_over{background-position:-137px -56px;width:29px;height:29px;}
.triangulo_cuadro_chico{background-position:-394px -65px;width:35px;height:70px;}
.triangulo_cuadro_chico_Over{background-position:-429px -65px;width:35px;height:70px;}
.contacto_2{background-position:0px -69px;width:42px;height:54px;}
.contacto{background-position:-220px -84px;width:42px;height:54px;}
.dir_medico_2{background-position:-262px -84px;width:42px;height:54px;}
.dir_medico{background-position:-108px -85px;width:42px;height:54px;}
.face_2{background-position:-150px -106px;width:42px;height:54px;}
.face{background-position:-304px -107px;width:42px;height:54px;}
.quienes_somos_2{background-position:-346px -107px;width:42px;height:54px;}
.quienes_somos{background-position:0px -123px;width:42px;height:54px;}
.sucursales_2{background-position:-464px -126px;width:42px;height:54px;}
.sucursales{background-position:-42px -134px;width:42px;height:54px;}
.testimonios_2{background-position:-388px -135px;width:42px;height:54px;}
.testimonios{background-position:-192px -138px;width:42px;height:54px;}
.twitter_2{background-position:-234px -138px;width:42px;height:54px;}
.twitter{background-position:-84px -139px;width:42px;height:54px;}
.youtube_2{background-position:-126px -160px;width:42px;height:54px;}
.youtube{background-position:-276px -161px;width:42px;height:54px;}
.google_over{background-position:-318px -161px;width:42px;height:54px;}
.google{background-position:0px -177px;width:42px;height:54px;}
.btn_menu_M{background-position:-430px -180px;width:42px;height:54px;}
.logo_boja_M_over{background-position:-42px -188px;width:42px;height:54px;}
.noticias{background-position:-360px -189px;width:42px;height:54px;}
.noticias_over{background-position:-168px -192px;width:42px;height:54px;}
.icono-tel{background-position:-210px -192px;width:42px;height:54px;}
.icono-tel{background-position:-220px -46px;width:17px;height:21px;}
.giovanni-bojanini-title{background-position:0px -246px;width:272px;height:50px;}
.testimonial_5_thumbnail{background-position:-402px -234px;width:90px;height:89px;}
.testimonial_4_thumbnail{background-position:-272px -243px;width:90px;height:89px;}
.testimonial_3_thumbnail{background-position:0px -296px;width:90px;height:89px;}
.testimonial_2_thumbnail{background-position:-90px -296px;width:90px;height:89px;}
.testimonial_1_thumbnail{background-position:-180px -296px;width:90px;height:89px;}
/* End Sprite Master CSS */
