
/* Start Sprite Master CSS */
.testimonios_BN_menu,.testimonios_Menu,.testimoniales_over,.testimoniales,.diagrama_BN_menu,.diagrama_menu,.galeria_BN_menu,.galeria_menu,.metodo-fue,.metodo-tira,.flecha_der_testimoniales_Over,.flecha_der_testimoniales,.flecha_izq_testimoniales_over,.flecha_izq_testimoniales,.cierra_over,.cierra,.animacion_menu,.animacion_menu_BN,.perfil,.microinjerto{display: inline-block;background-repeat: no-repeat;background-image: url('../img/microinjerto/sprite-microinjerto.png');}
.testimonios_BN_menu{background-position:0px 0px;width:246px;height:242px;}
.testimonios_Menu{background-position:-247px 0px;width:246px;height:242px;}
.testimoniales_over{background-position:-494px 0px;width:246px;height:242px;}
.testimoniales{background-position:-741px 0px;width:246px;height:242px;}
.diagrama_BN_menu{background-position:-988px 0px;width:246px;height:242px;}
.diagrama_menu{background-position:-1235px 0px;width:246px;height:242px;}
.galeria_BN_menu{background-position:-1482px 0px;width:234px;height:234px;}
.galeria_menu{background-position:-1717px 0px;width:234px;height:234px;}
.metodo-fue{background-position:-1952px 0px;width:129px;height:116px;}
.metodo-tira{background-position:-2082px 0px;width:119px;height:127px;}
.flecha_der_testimoniales_Over{background-position:-2202px 0px;width:18px;height:37px;}
.flecha_der_testimoniales{background-position:-2221px 0px;width:18px;height:37px;}
.flecha_izq_testimoniales_over{background-position:-2240px 0px;width:18px;height:37px;}
.flecha_izq_testimoniales{background-position:-2259px 0px;width:18px;height:37px;}
.cierra_over{background-position:-2278px 0px;width:30px;height:27px;}
.cierra{background-position:-2309px 0px;width:30px;height:27px;}
.animacion_menu{background-position:-2340px 0px;width:246px;height:242px;}
.animacion_menu_BN{background-position:-2587px 0px;width:246px;height:242px;}
.perfil{background-position:-2834px 0px;width:246px;height:242px;}
.microinjerto{background-position:-3081px 0px;width:245px;height:488px;}
/* End Sprite Master CSS */
