#august_2014_promotion_of_the_month{

    .friends{
        bottom: -400px;
        left: -32px;
        position: absolute;
        width: 355px;
        img{}
    }
    .wrapper_information{
        float: right !important;
        margin: -250px 0 0;
        right: 0;
        top: 50%;
        width: 601px;
        img{
            clear: both;
            display:block;
            margin: 15px auto;
        }
    }
}