#give_me_a_call_september_2014
    position: absolute
    .friends
        bottom: 0
        left: -320px
        position: absolute
        width: 355px
        img
    @media screen and ( min-height: em( 900, 16 ) )
        .friends
            left: -362px
    .wrapper_information
        float: right !important
        margin: -186px 0 0
        right: 0
        top: 50%
        width: 601px
        img
            display: block
            margin: 20px auto
            &:nth-child( 2n ):nth-child( 1 )
                margin: 20px 0 0 70px