#testimonial_banner{

    h2{
        @include font-mask( #000, em( 60, 16 ), em( 27, 60 ), normal, $Fira_Sans_Ot_Light );
        left: -50px;
        letter-spacing: em( 0.1, 60 );
        margin: -22px auto 0;
        padding: 0;
        position: relative;
        text-align: left;
        text-indent: em( 32, 60 );
        text-transform: uppercase;
        top: 50%;
        width: 100%;
        strong{
            @include font-mask( #000, em( 55, 60 ), em( 43, 55 ), normal, $Nobile_Bold );
            display: block;
            letter-spacing: em( 0.1, 60 );
            margin: em( 17, 60 ) 0 0;
        }
    }
    hr{
        border-top: 3px solid $yellow;
        float: left;
        left: -50px;
        height: 0;
        margin: em( 15, 16 ) 0 em( 15, 16 ) em( 30, 16 );
        position: relative;
        top: 50%;
        width: em( 480, 16 );
    }
    p{
        @include font-mask( $text_gray, em( 22.5, 16 ), em( 22.5, 22.5 ), bold, $Fira_Sans_Ot_Light );
        clear: both;
        left: -50px;
        letter-spacing: em( 6, 22.5 );
        margin: 0;
        padding: 0;
        position: relative;
        text-align: left;
        text-indent: em( 30, 22.5 );
        text-transform: uppercase;
        top: 50%;
        z-index: 1;
        .link{
            top: -5px;
            left: em( 478, 22.5 );
        }
    }
    img{
        bottom: 0;
        position: absolute;
        right: -20%;
        z-index: 0;
    }
}