#the-best-gift-is-to-recover-hair-december-2014
    left: 0
    width: 100% !important
    figure
        margin: ( -381px / 2 ) 0 0
        transition: all 0.15s ease
        top: 55%
        width: 389px !important
    img
        display: block
        margin: em( 10, 16 ) auto
        transition: all 0.15s ease
        position: relative
        z-index: 1
        &:first-child
            margin: 0 auto em( 10, 16 )
        &:last-child
            margin: em( 10, 16 ) auto 0
@media screen and ( min-width: em( 1280, 16 ) ) // PC - MacBook Pro 13"
    #the-best-gift-is-to-recover-hair-december-2014
        figure
            left: 5%
            margin: ( -431px / 2 ) 0 0
            transition: all 0.15s ease
            top: 49%
        img
            transition: all 0.15s ease
            margin: em( 35, 16 ) auto
            &:first-child
                margin: 0 auto em( 35, 16 )
            &:last-child
                margin: em( 35, 16 ) auto 0
@media screen and ( min-width: em( 1366, 16 ) ) // MacBook Air 11"
    #the-best-gift-is-to-recover-hair-december-2014
        figure
            left: 5%
            margin: ( -431px / 2 ) 0 0
            transition: all 0.15s ease
            top: 49%
        img
            transition: all 0.15s ease
            margin: em( 35, 16 ) auto
            &:first-child
                margin: 0 auto em( 35, 16 )
            &:last-child
                margin: em( 35, 16 ) auto 0
@media screen and ( min-width: em( 1440, 16 ) ) // MacBook Air 13" - MacBook Pro 15"
    #the-best-gift-is-to-recover-hair-december-2014
        figure
            left: 10%
            margin: ( -461px / 2 ) 0 0
            transition: all 0.15s ease
            top: 51%
        img
            transition: all 0.15s ease
            margin: em( 50, 16 ) auto
            &:first-child
                margin: 0 auto em( 50, 16 )
            &:last-child
                margin: em( 50, 16 ) auto 0
@media screen and ( min-width: em( 1680, 16 ) ) // Cinema Display
    #the-best-gift-is-to-recover-hair-december-2014
        figure
            left: 10%
            margin: ( -501px / 2 ) 0 0
            transition: all 0.15s ease
            top: 48%
        img
            transition: all 0.15s ease
            margin: em( 70, 16 ) auto
            &:first-child
                margin: 0 auto em( 70, 16 )
            &:last-child
                margin: em( 70, 16 ) auto 0
@media screen and ( min-width: em( 1920, 16 ) ) // iMac 21.5"
    #the-best-gift-is-to-recover-hair-december-2014
        figure
            left: 10%
            margin: ( -461px / 2 ) 0 0
            transition: all 0.15s ease
            top: 51%
        img
            transition: all 0.15s ease
            margin: em( 50, 16 ) auto
            &:first-child
                margin: 0 auto em( 50, 16 )
            &:last-child
                margin: em( 50, 16 ) auto 0
@media screen and ( min-width: em( 2560, 16 ) ) // iMac 27"
    #the-best-gift-is-to-recover-hair-december-2014
        figure
            left: 25%
            margin: ( -381px / 2 ) 0 0
            transition: all 0.15s ease
            top: 55%
        img
            margin: em( 30, 16 ) auto
            transition: all 0.15s ease
            &:first-child
                margin: 0 auto em( 30, 16 )
            &:last-child
                margin: em( 30, 16 ) auto 0
