#we_leave_you_with_the_creeps_teaser_2014,
#we_leave_you_with_the_creeps_2014
    .wrapper_information
        float: left !important
        margin: ( -328px / 2 ) 0 0
        left: 0
        position: absolute
        top: 50%
        width: 611px
    .friends
        bottom: -180px
        right: -150px
        position: absolute
        width: 685px
        img
            display: block
            margin: 10px auto
    @media screen and ( min-height: em( 900, 16 ) )
        .friends
            bottom: -10px
            right: -25%

#we_leave_you_with_the_creeps_teaser_2014
    .wrapper_information
        margin: ( -328px / 2 ) 0 0
        width: 611px
        img
            &:nth-child( 1n )
                
            &:nth-child( 2n ),&:nth-child( 3n )
                margin: 1em 3em 0 0
            &:nth-child( 2n )
                margin-left: 4em

#we_leave_you_with_the_creeps_2014
    .wrapper_information
        margin: ( -532px / 2 ) 0 0
        top: 53%
        width: 620px
        img
            &:nth-child( 1n ),
            &:nth-child( 2n ),
            &:nth-child( 4n )
                float: left
            &:nth-child( 2n )
                margin: 0 0 0 1em
            &:nth-child( 3n )
                margin: 1em auto
            &:nth-child( 4n )
                margin: 0
            &:nth-child( 5n )
                margin: 1em 0 0
        p
            @include font-mask( $text_gray, em( 17, 16 ), 1.5em, bold, $Fira_Sans_Ot_Light )
            clear: both
            display: block
            float: left
            margin: em( 5, 17 ) auto
            